# Ignore dataset folders
maildir/
data/
check-groups/

# Ignore images folder
images/

# Ignore specific dataset files
*.csv
*.xlsx
*.json
*.txt

# Ignore environment-specific files
.venv

# Ignore Python bytecode cache directory
__pycache__/
**/__pycache__/